*.dylib filter=lfs diff=lfs merge=lfs -text
*.dylib* filter=lfs diff=lfs merge=lfs -text
*.resS* filter=lfs diff=lfs merge=lfs -text
*Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
*.fbx binary
*.FBX binary
*.png binary
*.jpg binary
*.jpeg binary
*.tga binary
*.psd binary
*.bmp binary
*.gif binary
*.mp3 binary
*.mp4 binary
